WCFIntro/CalcConsumer/Service References/CalcService/CalculatorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60797/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60797/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60797/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFIntro" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalcService_CreateComplexNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateComplexNumber" />
  </wsdl:message>
  <wsdl:message name="ICalcService_CreateComplexNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateComplexNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ICalcService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_GetRealPart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRealPart" />
  </wsdl:message>
  <wsdl:message name="ICalcService_GetRealPart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRealPartResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcService_GetImagPart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImagPart" />
  </wsdl:message>
  <wsdl:message name="ICalcService_GetImagPart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagPartResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalcService">
    <wsdl:operation name="CreateComplexNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/CreateComplexNumber" message="tns:ICalcService_CreateComplexNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/CreateComplexNumberResponse" message="tns:ICalcService_CreateComplexNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/GetData" message="tns:ICalcService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/GetDataResponse" message="tns:ICalcService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRealPart">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/GetRealPart" message="tns:ICalcService_GetRealPart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/GetRealPartResponse" message="tns:ICalcService_GetRealPart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImagPart">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcService/GetImagPart" message="tns:ICalcService_GetImagPart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcService/GetImagPartResponse" message="tns:ICalcService_GetImagPart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalcService" type="tns:ICalcService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateComplexNumber">
      <soap:operation soapAction="http://tempuri.org/ICalcService/CreateComplexNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ICalcService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRealPart">
      <soap:operation soapAction="http://tempuri.org/ICalcService/GetRealPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImagPart">
      <soap:operation soapAction="http://tempuri.org/ICalcService/GetImagPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorService">
    <wsdl:port name="BasicHttpBinding_ICalcService" binding="tns:BasicHttpBinding_ICalcService">
      <soap:address location="http://localhost:60797/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>