WCFIntro/CalcConsumer/Service References/CalcService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFIntro" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFIntro" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ComplexNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImagPart" type="xs:int" />
      <xs:element minOccurs="0" name="RealPart" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplexNumber" nillable="true" type="tns:ComplexNumber" />
  <xs:complexType name="ArrayOfComplexNumber">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComplexNumber" nillable="true" type="tns:ComplexNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplexNumber" nillable="true" type="tns:ArrayOfComplexNumber" />
</xs:schema>